<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="sucess-box">
        <p class="msg"><strong >Seus dados foram atualizados com sucesso</strong></p>
        <p class="msg2">Agora é só aguardar, e assim que uma doação for realizada para você e seu(s) filho(s), a escola selecionada irá entrar em contato pelo meio fornecido, e você poderá comparecer para fazer a retirada do material. </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="btn-area">
        <button class="btn-continue">Voltar</button> 
      </div>
    </div>
  </div>
</div>