<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="sucess-box">
        <p><strong class="msg">O IAFEI agradece imensamente pela sua doação!</strong></p>
        <p class="msg2">A quantia doada será repassada para a escola para que ela possa realizar a compra dos materiais escolares e fazer a entrega para cada pai/responsável que cadastrou as necessidades do(s) filho(s) pelo nosso site.
          De nós e de todos os pais e crianças que serão beneficiados pela sua contribuição, nosso mais sincero obrigado! </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="btn-area">
        <button class="btn-continue">Voltar</button> 
      </div>
    </div>
  </div>
</div>