
 h1 {
    font-size: 1.8rem;
    text-align: center;
    margin: 0 0 30px 0;
    background-color: #FFBA08;
    border-radius: 10px;
    height: 3.2rem;
    line-height: 3.2rem;
    color: #000;
}   

.btn-area1 {
    display: flex;
    justify-content: center;
    margin-right: 10vw;
    padding-top: 15vh;
 }

 .btn-area2 {
    display: flex;
    justify-content: center;
    margin-right: 10vw;
    margin-top: 2vh;
 }

 .btn-area3 {
     margin-top: 5vh;
    margin-left: 30vw;
 }

 .btn-continue {
     width: 160px;
     height: 50px;
     background-color: #fff;
     border: none;
     color: #a1a1a1;
     border-radius: 4px;
     transition: ease-out 0.3s;
     font-size: 0.9rem;
     outline: none;
     border: 3px solid #FF6714;
     position: relative;
     z-index: 1;
     text-transform: uppercase;
     font-weight: 500;
 } 
 
 .btn-continue:hover {
     color: #fff;
     cursor: pointer;
 }
 
 .btn-continue:before {
     transition: 0.5s all ease;
     position: absolute;
     top: 0;
     left: 50%;
     right: 50%;
     bottom: 0;
     opacity: 0; 
     content: '';
     background: #FF6714;
 }
 
 .btn-continue:hover:before {
     transition: 0.5 all ease;
     left: 0;
     right: 0;
     opacity: 1;
     z-index: -1;
 }

 .img-boleto {
     display: flex;
     margin-left: 9vw;
 }
 
/* APLICANDO MEDIA QUERY PARA DEIXAR O LAYOUT RESPONSIVO */ 
@media (max-width: 37em) { /* 592px */
    img {
        display: flex;
        width: 45vw;
        height: 31vh;
    }
    
    .btn-area1 {
        display: flex;
        flex-direction: row;
        margin-top: 50vh;
        margin-left: -55vw;
    }
    .btn-area2 {
        margin-left: -55vw;
    }

 } 
@media (max-width: 41em) { /* 656px */
    img {
        display: flex;
        width: 55vw;
        height: 41vh;
    }
 } 
@media (max-width: 47em) { /* 752px */
    img {
        display: flex;
        width: 60vw;
        height: 46vh;
    }
    .btn-area1 {
        display: flex;
        flex-direction: row;
        margin-top: 50vh;
        margin-left: -55vw;
    }
    .btn-area2 {
        margin-left: -55vw;
    }
    

 } 
@media (max-width: 68em) { /* 1088px */
    img {
        display: flex;
        width: 65vw;
        height: 51vh;
    }
    .btn-area1 {
        display: flex;
        flex-direction: row;
        margin-top: 50vh;
        position: relative;
        left: -115%;
    }

    .btn-area2 {
        padding-left: -55vw;
        position: relative;
        left: -115%;
    }

    .btn-area3 {
        padding-bottom: 5vh;
    }  
    
 } 
@media (max-width: 82em) { /* 1312px */
    img {
        display: flex;
        width: 70vw;
        height: 61vh;
    }
    .btn-area1 {
        margin-left: 4vw;
    }
    .btn-area2 {
        margin-left: 4vw;
    }


 } 
@media (max-width: 100em) { /* 1600px */

 } 