<div id="container">
  <div class="row">
    <div class="col-3">
        <button class="btn-continue">Voltar</button>
    </div>
    <div class="col-9">
      <div id="header">
        <h1> <strong>Quem somos</strong></h1>
      </div>
    </div>
  </div>
  <div class="container-img">  
    <div class="row">
        <div class="col-4">
          <img class="img-about" src="assets/imgs/quem-somos1.png" alt="imagem1" width="400" height="400">
        </div>
        <div class="col-4">
          <img class="img-about" src="assets/imgs/quem-somos2.png" alt="imagem2" width="400" height="400">
        </div>
        <div class="col-4">
          <img class="img-about" src="assets/imgs/quem-somos3.png" alt="imagem3" width="400" height="400">
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 collab-box">
      <h2>O que nossos colaboradores dizem sobre nós:</h2>
    </div>
  </div>
  <div class="about-carousel">
    <carousel>
        <slide>
          <div class="text-center py-5 text-dark">
            <div class="lead">
              <p>“É realmente uma instituição fantástica, me proporcionou a chance de poder dar uma educação melhor para o meu filho, já que a falta de material escolar estava prejudicando o ensino dele. Agradeço imensamente à todos que contribuiram para que isso acontecesse!”
              </p>
              <h3>
                Pai/responsável anônimo
              </h3>
            </div>
          </div>
        </slide>
        <slide>
          <div class="text-center py-5 text-dark">

            <div class="lead">
              <p>“É maravilhoso doar para quem precisa, principalmente para crianças. Me sinto ótimo podendo contribuir na educação de cada criança necessitada, e continuarei ajudando sempre que for possível.”
              </p>
              <h3>
                Doador anônimo
              </h3>
            </div>
          </div>
        </slide>
        <slide>
          <div class="text-center py-5 text-dark">
            <div class="lead">
              <p>“É muito bom para nós, trabalhadores da área de educação, ver que as pessoas estão ajudando uma causa tão nobre, e todas as crianças e pais que já receberam uma doação se sentem muito gratos também.”
              </p>
              <h3>
                Escola Estadual Primeiro de Maio
              </h3>
            </div>
          </div>
        </slide>
    </carousel>

  </div>
