<div id="container">
  <div class="row">
    <div class="col-3">
        <button class="btn-continue">Voltar</button>
    </div>
    <div class="col-9">
      <div id="header">
        <h1>Quem Somos</h1>
      </div>
    </div>
  </div>
  <div class="container-img">
    <div class="row">
        <div class="col-4">
          <img class="img-about" src="assets/imgs/quem-somos1.png" alt="imagem1" width="400" height="400">
        </div>
        <div class="col-4">
          <img class="img-about" src="assets/imgs/quem-somos2.png" alt="imagem2" width="400" height="400">
        </div>
        <div class="col-4">
          <img class="img-about" src="assets/imgs/quem-somos3.png" alt="imagem3" width="400" height="400">
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2>O que nossos colaboradores dizem sobre nós</h2>
    </div>
  </div>
</div>