<div class="container">
    <div class="row">
        <div class="col-3">
            <button class="btn-continue">Voltar</button>
        </div>
        <div class="col-9">
          <div id="header">
            <h1>Escolas</h1>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col">
            <h2 class="background-none">Já possui cadastro? Insira o código para atualizar suas informações: </h2>
          </div>
      </div>
      <div class="row">
        <div class="col-9 code-area">
            <input class="input-code input" type="text" id="code" placeholder="Código de cadastro">
        </div>
        <div class="col-3 btn-return-area">
            <button class="btn-continue">Continuar</button> 
        </div>
     </div>
     <table class="table table-striped">
       <thead>
         <tr>
           <td><strong>ID</strong></td>
           <td><strong>Data</strong></td>
         </tr>
       </thead>
       <tr *ngFor>
         <td>id</td>
         <td>data</td>
       </tr>
     </table>
</div>



<!--<div id="code-area">
    <input class="input-code input" type="text" id="code" placeholder="Código de cadastro">
    <button class="btn-continue">Continuar</button> 
    style="width: 50px; height: 50px; background-color: black; margin: 10px;

-->
