
.btn-continue {
    margin: 3px 0 0 20px;
}


#header h1 {
    font-size: 1.8rem;
    text-align: center;
    margin: 0 0 30px 0;
    background-color: #FFBA08;
    border-radius: 10px;
    height: 3.2rem;
    line-height: 3.2rem;
    
}   

 h2 {
    font-size: 1.3rem;
    text-align: center;
    margin: 10px 10px 0 0;
    font-weight: 500;
    margin-top: 50px;
    background-color: #FFBA08;
    border-radius: 10px;
    height: 3.2rem;
    line-height: 3.2rem;
    
}

.input {
    color: #666666;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid #00000000;
    border-radius: 3px;
    background-color: #e6e6e699;  
    font-size: 1.1rem;
    transition: .3s ease-in-out;
}

.input:hover {
    background-color: #0000001a;
}

.code-area .input:focus {
    border: 2px solid #545797;
}

.input{
    border: none;
    width: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 140px;     
    
}

.btn-return-area .btn-continue {
   margin-top: 15px;
   margin-left: 10px;
} 

.background-none {
    background: none;
    margin-bottom: 20px;
    font-weight: 400;
}
table {
    background-color: #DE6D30;
 
    
}
.table-box {
    border: 1px red solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    padding: 15px;
    width: 400px;
}
/* APLICANDO RESPONSVIDADE COM MEDIA QUERY */ 
@media (min-width) {
    
}