<div class="container">
  <div class="row">
    <div class="col">
      <div class="col-12">
        <div class="header">
          <h1>Escolha a quantia que você pode doar</h1>
        </div>
        <div class="row">
            <div class="col-2 colunas">
              <div class="quantia-area area1">
                <img class="img-container" src="assets/imgs/arco-iris.png" alt="arco-iris" width="80">
              <p>
                <strong>
                Contribui na compra de 8 itens necessários da escola selecionada
              </strong>
            </p>
              </div>
            </div>
          <div class="col-2 colunas">
            <div class="quantia-area area2">
              <img class="img-container" src="assets/imgs/arco-iris.png" alt="arco-iris" width="100">
              <p>
                <strong>
                  Contribui na compra de 17 itens necessários da escola selecionada 
                </strong>
              </p>
            </div>
          </div>
          <div class="col-2  colunas">
            <div class="img-container" class="quantia-area area3">   
              <img class="img-container" src="assets/imgs/arco-iris.png" alt="arco-iris" width="100">
              <p>
                <strong>
                  Contribui na compra de 44 itens necessários da escola selecionada 
                </strong>
              </p>
            </div>
          </div>
          <div class="col-2 colunas">
            <div class="quantia-area area4">
              <img class="img-container" src="assets/imgs/arco-iris.png" alt="arco-iris" width="100">
              <p>
                <strong>
                  Contribui na compra de 90 itens necessários da escola selecionada 
                </strong>
              </p>
            </div>
          </div>
          <div class="col-2 colunas">
            <div class="img-container" class="quantia-area area5">
              <img class="img-container" src="assets/imgs/arco-iris.png" alt="arco-iris" width="100">
              <p>
                <strong>
                  Contribui na compra de 130 itens necessários da escola selecionada 
                </strong>
              </p>
            </div>
          </div>
          <div class="offset-2"></div>
        </div>
        <div class="row">
          <div class="col-2 colunas2-1">
            <div class="card1">
              <label for="quantia">R$20</label>
              <input class="input-radio" type="radio" name="quantia" id="quantia">
            </div>
          </div>

          <div class="col-2 colunas2-2">
            <div class="card2 colunas2">
              <label for="quantia">R$35</label>
              <input type="radio" name="quantia" id="quantia">
            </div>
          </div>

          <div class="col-2 colunas2-3">
            <div class="card3">
              <label for="quantia">R$50</label>
              <input type="radio" name="quantia" id="quantia">
            </div>
          </div>

          <div class="col-2 colunas2-4">
            <div class="card4">
              <label for="quantia">R$100</label>
              <input type="radio" name="quantia" id="quantia">
            </div>
          </div>

          <div class="col-2 colunas2-5">
            <div class="card5">
              <label for="quantia">R$200</label>
              <input type="radio" name="quantia" id="quantia">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="btn-area">
              <button class="btn-continue">Voltar</button> 
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>