<nav class="navbar navbar-expand-lg justify-content-center navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <img class="navbar-brand mr-5" src="/assets/imgs/Logo.png" id="logo" alt="Logo">
      <a class="nav-item nav-link mr-5 mt-4" routerLink="main">PÁGINA INICIAL<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link mr-5 mt-4" routerLink="about">QUEM SOMOS</a>
      <a class="nav-item nav-link mr-5 mt-4" routerLink="cadastro">CADASTRO DE PAIS/RESPONSAVEIS</a>
      <a class="nav-item nav-link mr-5 mt-4" routerLink="escolas">ESCOLAS</a>
      <a class="nav-item nav-link mr-5 mt-4" id="doar" routerLink="doacao">DOE AQUI</a>
    </div>
  </div>
</nav>
