<div class="main-container">
  <carousel>
    <slide>
      <img src="assets/imgs/lol1.jpg" class="img-carousel" alt="first slide" style="display: block;">
    </slide>
    <slide>
      <img src="assets/imgs/lol2.jpg" class="img-carousel" alt="second slide" style="display: block;">
    </slide>
    <slide>
      <img src="assets/imgs/lol3.jfif" class="img-carousel" alt="third slide" style="display: block;">
    </slide>
  </carousel>
</div>
<div class="box-container">
  <div class="box-option">
    <button class="btn-option">
      Doação
      <img src="assets/imgs/icon-donation.png" alt="Doação" class="icons" width="30" height="40">
    </button>
    
  </div>
  <div class="box-option">
    <button class="btn-option">
      <span class="span">Cadastro de país/responsáveis</span>
      <img src="assets/imgs/icon-family.png" alt="Cadastro de pais/responsáveis" class="icons" width="30" height="40">
    </button>
  </div>
  <div class="box-option">
    <button class="btn-option">
      Escolas
      <img src="assets/imgs/icon-school.png" alt="Escolas" class="icons" width="30" height="40">
    </button>
  </div>
  <div class="box-option">
    <button class="btn-option">
      Saiba mais
      <img src="assets/imgs/icon-doubt.png" alt="Saiba mais" class="icons" width="30" height="40">
    </button>
  </div>
</div>
