<div class="main-container">
  <carousel>
    <slide>
      <img src="assets/imgs/lol1.jpg" class="img-carousel" alt="first slide" style="display: block;">
    </slide>
    <slide>
      <img src="assets/imgs/lol2.jpg" class="img-carousel" alt="second slide" style="display: block;">
    </slide>
    <slide>
      <img src="assets/imgs/lol3.jfif" class="img-carousel" alt="third slide" style="display: block;">
    </slide>
  </carousel>
</div>
<div class="box-container">
  <div class="box-option">Doação</div>
  <div class="box-option">Cadastro de responsáveis</div>
  <div class="box-option">Escolas</div>
  <div class="box-option">Saiba mais</div>
</div>
