@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Engagement&display=swap');

.btn-register {
    font-size: 0.8rem;
}

.img-crousel {
    margin: 0 auto;
    height: 85vh;
    width: 80vw;
    position: relative;
}
.main-container {
    height: 60vh;
    width: 80vw;
    margin: 15px auto;
}
.box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    flex-direction: row;
}
.box-option {
    text-align: center;
    padding-top: 20px;
    margin:20px;

}


/* CONFIGURANDO BOTÕES DO HOME */

.btn-option {
    font-family:'Montserrat,Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 130px;
    height: 100px;
    border-radius: 12px;
    font-size: 0.9rem;
    font-weight: 600;
    padding-top: 2px;
    background: #545797;
    border: none;
    color: #fff;
    box-shadow: 0 8px 18px -5px #131313;
    transition: 0.2s all ease-out;
}

.span{
   line-height: 12px;
}

.btn-option:hover {
    transform: scale(1.1);
}

.icons {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    color: #fff;
    margin: 0 auto;
}

.icons:hover {
    background-color: #545797;
}
.montserrat-black, .reading-black {
    color:black;
}
.montserrat-white, .reading-white {
    color: white;
}
.montserrat-black {
    /*font-family and style*/

    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 2vh;
    line-height: 29px;
    text-align: center;

    /*positioning*/
    margin-bottom: 40vh;


}
.montserrat-white {
    /*font-family and style*/
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 4vh;
    line-height: 29px;
   
    /*positioning*/
    margin-bottom: 50vh;
    margin-right: 6vh;
    
}
.reading-black {
    /*font-family and style*/
    font-family: "Engagement";
    font-weight: normal;
    font-size: 17vh;
    line-height: 98px;
    font-style: normal;
    text-align: center;
    
    /*positioning*/
    bottom: 28vh;
    left: 45vh;
    position: absolute;
}
.reading-white {
    /*font-family and style*/
    font-family: "Engagement";
    font-weight: normal;
    font-size: 17vh;
    line-height: 98px;
    font-style: normal;
    text-align: center;
    /*positioning*/
    bottom: 40vh;
    left: 45vh;
    position: absolute;
    
}
.yellow-box {
    height: 90px;
    width: 180px;
    left: 0px;
    top: 0px;
    background: #FFBA08;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 43.1679px;
    position: absolute;
    top: 25vh;
    left: 24vw;
    padding: auto;
    font-size: 18px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.yellow-box:hover {
    cursor: pointer;
}
.about-box-txt {
    margin:10px auto;
}
.yellow-box p {
    margin: auto;
} 

/* APLICANDO MEDIA QUERY PARA DEIXAR O LAYOUT RESPONSIVO */ 
@media (max-width: 37em) {  /* 592px */
    .box-container {
        display: flex;
        flex-direction: column;
        margin-top: 10vh;
    }

    .btn-option {
        margin: -5vh 0;
        width: 60vw;
    }
} 
@media (max-width: 41em) { /* 656px */
    .box-container {
        display: flex;
        flex-direction: column;
    }

    .btn-option {
        margin: -2vh 0;
    }
} 
@media (max-width: 47em) { /* 752px */
    
 } 
@media (max-width: 82em) { /* 1312px */

 } 
@media (max-width: 100em) { /* 1600px */
    
 } 
