/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

* {
    font-family:'Montserrat,Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.btn-continue {
    width: 110px;
    height: 50px;
    border: none;
    color: #a1a1a1;
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-size: 1rem;
    outline: none;
    border: 3px solid #545797;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    font-weight: 500;
} 

.btn-continue:hover {
    color: #fff;
    cursor: pointer;
}

.btn-continue:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0; 
    content: '';
    background: #545797;
}

.btn-continue:hover:before {
    transition: 0.5 all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}




