<div id="container">

  <div id="header">
    <h1>País/Responsáveis</h1>
    <h2 class="subtitle">Não possui cadastro? Insira as informações abaixo:</h2>
  </div>

  <div class="all-inputs">
    <div class="input-box">
      <label for="name">Nome: </label>
      <input class="input" type="text" id="name" placeholder="Insira seu nome">
    </div> 
    <div class="input-box">
      <label for="last-name">Sobrenome: </label>
      <input class="input" type="text" id="last-name" placeholder="Insira seu sobrenome">
    </div>
    <div class="input-box">
      <label for="tel">Telefone: </label>
      <input class="input" type="text" id="tel" placeholder="Insira seu telefone">
    </div>
    <div class="input-box">
      <label for="email">E-mail: </label>
      <input class="input" type="text" id="email" placeholder="Insira seu E-mail">
    </div>
    </div>

    <div class="dropbox">
      <label for="school">Escola: </label>
      <select class="input" id="school">
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
      </select>
    </div>

    <div class="button">
      <button class="btn-continue">Continuar</button>
    </div>

    <hr>

    <div id="code-area">
      <h2 class="subtitle">Já possui cadastro? Insira o código para atualizar suas informações</h2>
      <input class="input-code input" type="text" id="code" placeholder="Código de cadastro">
      <button class="btn-continue">Continuar</button>
    </div>
    <!--button class="btn bg-light btn-sucess">Continuar</button>-->

  </div>




