<div id="header">
    <div class="title">
      <h1>País/Responsáveis</h1>
    </div>

  <h2 class="subtitle">Não possui cadastro? Insira as informações abaixo:</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-xl-4">
      <div class="register-area">
        <label for="name"><span class="label-input">Nome: </span></label>
        <input class="input" type="text" id="name" placeholder="Insira seu nome">
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-xl-4" >
      <div class="register-area">
        <label for="last-name"><span class="label-input">Sobrenome: </span></label>
        <input class="input" type="text" id="last-name" placeholder="Insira seu sobrenome">
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-xl-4" >
      <div class="register-area">
        <label for="tel"><span class="label-input">Telefone: </span></label>
        <input class="input" type="text" id="tel" placeholder="Insira seu telefone">
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-xl-4" >
        <div class="register-area">
          <label for="email"><span class="label-input">E-mail: </span></label>
          <input class="input" type="text" id="email" placeholder="Insira seu E-mail">
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-xl-8">
      <div class="dropbox">
        <label for="school"><span class="label-select">Escola:</span> </label>
        <select class="input" id="school">
          <option value=""></option>
          <option value=""></option>
          <option value=""></option>
        </select>
    </div>
    </div>
  </div>
</div>

<div class="button">
  <button class="btn-continue" >Continuar</button>
</div>

<hr>

<div class="subtitle">
  <h2>Já possui cadastro? Insira o código para atualizar suas informações</h2>
</div>

<div id="code-area">
  <input class="input-code input" type="text" id="code" placeholder="Código de cadastro">
  <button class="btn-continue">Continuar</button>
</div>


<!--<div id="container">
  <div id="header">
    <h1>País/Responsáveis</h1>
    <h2 class="subtitle">Não possui cadastro? Insira as informações abaixo:</h2>
  </div>

  <div class="all-inputs row">
        <div class="register-area">
          <label for="name">Nome: </label>
          <input class="input" type="text" id="name" placeholder="Insira seu nome">
        </div>
        <div class="register-area">
          <label for="last-name">Sobrenome: </label>
          <input class="input" type="text" id="last-name" placeholder="Insira seu sobrenome">
        </div>
        <div class="register-area">
          <label for="tel">Telefone: </label>
          <input class="input" type="text" id="tel" placeholder="Insira seu telefone">
        </div>
        <div class="register-area">
          <label for="email">E-mail: </label>
          <input class="input" type="text" id="email" placeholder="Insira seu E-mail">
    </div>
</div>
    <div class="row">
      <div class="dropbox">
        <label for="school">Escola: </label>
        <select class="input" id="school">
          <option value=""></option>
          <option value=""></option>
          <option value=""></option>
        </select>
    </div>
    </div>

    <div class="button">
      <button class="btn-continue">Continuar</button>
    </div>

    <hr>

    <div id="code-area">
      <h2 class="subtitle">Já possui cadastro? Insira o código para atualizar suas informações</h2>
      <input class="input-code input" type="text" id="code" placeholder="Código de cadastro">
      <button class="btn-continue">Continuar</button>
    </div>
    <button class="btn bg-light btn-sucess">Continuar</button>

  </div>
-->


