<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="header">
        <h1>Escolha o método de pagamento</h1>
      </div>
    </div>
      <div class="col-12">
        <h2>Depósito em conta</h2>
      </div>
      <div class="col-12">
        <div class="sucess-box">
          <p class="msg2">Bradesco (Banco 345) - Agência 4803-5 - Conta Corrente: 5847-0Z</p>
          <p class="msg2">Favorecido: IAFEI - Instituição de Angrariação de Fundos para a Educação Infantil</p>
          <p class="msg2">CNPJ: 32.453.243/0001-04</p>
        </div>
      </div>
      <div class="col-12">
        <div class="btn-area">
          <button class="btn-continue">Continuar</button> 
        </div>
      </div>
      <div class="col-12">
        <strong><span>Boleto Bancário</span></strong>
       </div>
       <div class="col-12">
        <div class="btn-area">
          <button class="btn-continue">Emitir Boleto</button> 
        </div>
       </div>
  </div>
</div>


